.wishlist-container {
    background: lightblue;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.wishlist {
    font-size: 50px;  
}