.wishlist-container {
    background: linear-gradient(#92BCEA, #1F487E );
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
}

.wishlist {
    font-size: 50px;
    color: #883677;  
}